* {
  box-sizing: border-box;
}

body {
  background-image: url("../assets/fondo-body.png");
  background-repeat: repeat;
  background-attachment: fixed;
}

header {
  margin: 0px;
  padding: 0px;
  -webkit-box-shadow: 10px 0px 15px -8px #191919, -10px 0px 15px -8px #191919;
  -moz-box-shadow: 10px 0px 15px -8px #191919, -10px 0px 15px -8px #191919;
  -ms-box-shadow: 10px 0px 15px -8px #191919, -10px 0px 15px -8px #191919;
  box-shadow: 10px 0px 15px -8px #191919, -10px 0px 15px -8px #191919;
  max-width: 1280px;
  width: 100%;
  height: 125px;
  background-color: #61094d;
  margin: auto;
  position: relative;
  /* /////////////////////////////////////////////////
	// BOTONERA REDES SOCIALES
	///////////////////////////////////////////////////*/
}

header #botones-social {
  display: inline-block;
  position: absolute;
  right: 10%;
  top: 30px;
}

header #botones-social .circulo {
  margin: 0px;
  padding: 0px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background-color: none;
  height: 50px;
  width: 50px;
  border: 2px solid #ede3eb;
  text-align: center;
  display: inline-block;
  margin: 5px;
}

header #botones-social .circulo a {
  text-decoration: none;
  color: #ede3eb;
}

header #botones-social .circulo a span {
  font-size: 25px;
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 10px;
}

header #botones-social .facebook {
  -webkit-transition: transform 0.5s, background-color 0.5s;
  -moz-transition: transform 0.5s, background-color 0.5s;
  -ms-transition: transform 0.5s, background-color 0.5s;
  transition: transform 0.5s, background-color 0.5s;
}

header #botones-social .facebook:hover {
  background-color: #3b5998;
  -webkit-transform: scale(1.3, 1.3) rotate(360deg);
  -moz-transform: scale(1.3, 1.3) rotate(360deg);
  -ms-transform: scale(1.3, 1.3) rotate(360deg);
  transform: scale(1.3, 1.3) rotate(360deg);
}

header #botones-social .twitter {
  -webkit-transition: transform 0.5s, background-color 0.5s;
  -moz-transition: transform 0.5s, background-color 0.5s;
  -ms-transition: transform 0.5s, background-color 0.5s;
  transition: transform 0.5s, background-color 0.5s;
}

header #botones-social .twitter:hover {
  background-color: #4099ff;
  -webkit-transform: scale(1.3, 1.3) rotate(360deg);
  -moz-transform: scale(1.3, 1.3) rotate(360deg);
  -ms-transform: scale(1.3, 1.3) rotate(360deg);
  transform: scale(1.3, 1.3) rotate(360deg);
}

header #botones-social .instagram {
  -webkit-transition: transform 0.5s, background-color 0.5s;
  -moz-transition: transform 0.5s, background-color 0.5s;
  -ms-transition: transform 0.5s, background-color 0.5s;
  transition: transform 0.5s, background-color 0.5s;
}

header #botones-social .instagram:hover {
  background-color: #9b6954;
  -webkit-transform: scale(1.3, 1.3) rotate(360deg);
  -moz-transform: scale(1.3, 1.3) rotate(360deg);
  -ms-transform: scale(1.3, 1.3) rotate(360deg);
  transform: scale(1.3, 1.3) rotate(360deg);
}

/* /////////////////////////////////////////////////
// MENU
///////////////////////////////////////////////////*/
nav {
  margin: 0px;
  padding: 0px;
  -webkit-box-shadow: 10px 0px 15px -8px #191919, -10px 0px 15px -8px #191919;
  -moz-box-shadow: 10px 0px 15px -8px #191919, -10px 0px 15px -8px #191919;
  -ms-box-shadow: 10px 0px 15px -8px #191919, -10px 0px 15px -8px #191919;
  box-shadow: 10px 0px 15px -8px #191919, -10px 0px 15px -8px #191919;
  max-width: 1280px;
  width: 100%;
  height: 50px;
  background-color: #9f6a93;
  margin: auto;
  font-family: "Fjalla+One", sans-serif;
  color: #ede3eb;
  font-size: 18px;
  font-weight: bold;
}

nav .ul-n1 {
  margin: 0px;
  padding: 0px;
  text-align: center;
  position: relative;
  /* Se colocan z-index en varios elementos para que 
		se vea la animacion de opacidad de los sub menus*/
  z-index: 1;
}

nav .ul-n1 li {
  margin: 0px;
  padding: 0px;
  display: inline-block;
  vertical-align: top;
  width: 16%;
  height: 100%;
  text-align: center;
  padding-top: 15px;
  margin-left: -5px;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

nav .ul-n1 li a {
  color: #61094d;
}

nav .ul-n1 li i {
  vertical-align: top;
  color: #61094d;
}

nav .ul-n1 li .ul-n2 {
  margin: 0px;
  padding: 0px;
  display: none;
  position: relative;
  z-index: 2;
  background-color: #c3a3bd;
  color: #9f6a93;
  -webkit-box-shadow: 5px 5px 20px black;
  -moz-box-shadow: 5px 5px 20px black;
  -ms-box-shadow: 5px 5px 20px black;
  box-shadow: 5px 5px 20px black;
  margin-top: 10px;
  border-radius: 5px;
}

nav .ul-n1 li .ul-n2 li {
  margin: 0px;
  padding: 0px;
  display: block;
  width: 100%;
  height: 50px;
  padding-top: 15px;
  padding-left: 30px;
  text-align: left;
}

nav .ul-n1 li:hover {
  background-color: #ede3eb;
}

nav .ul-n1 li:hover a {
  text-decoration: none;
  color: #61094d;
}

nav .ul-n1 li:hover .ul-n2 {
  display: block;
  -webkit-animation: submenu 0.5s;
  -moz-animation: submenu 0.5s;
  -ms-animation: submenu 0.5s;
  animation: submenu 0.5s;
}

@-webkit-keyframes submenu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes submenu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes submenu {
  nav .ul-n1 li:hover .ul-n2 0% {
    opacity: 0;
  }
  nav .ul-n1 li:hover .ul-n2 100% {
    opacity: 1;
  }
}

@keyframes submenu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

nav .ul-n1 li:hover .ul-n2 li a {
  text-decoration: none;
  color: #61094d;
  -webkit-animation: submenu 0.5s;
  -moz-animation: submenu 0.5s;
  -ms-animation: submenu 0.5s;
  animation: submenu 0.5s;
}

#contenedor {
  position: relative;
  z-index: 0;
  margin: 0px;
  padding: 0px;
  -webkit-box-shadow: 10px 0px 15px -8px #191919, -10px 0px 15px -8px #191919;
  -moz-box-shadow: 10px 0px 15px -8px #191919, -10px 0px 15px -8px #191919;
  -ms-box-shadow: 10px 0px 15px -8px #191919, -10px 0px 15px -8px #191919;
  box-shadow: 10px 0px 15px -8px #191919, -10px 0px 15px -8px #191919;
  max-width: 1280px;
  width: 100%;
  height: 1500px;
  background-color: #ede3eb;
  margin: auto;
}

#contenedor h1 {
  margin: 0px;
  padding: 0px;
}

.carousel-inner .item img {
  width: 100%;
  height: auto;
  margin: auto;
}

/* /////////////////////////////////////////////////
// FOOTER
///////////////////////////////////////////////////*/
footer {
  margin: 0px;
  padding: 0px;
  max-width: 1280px;
  width: 100%;
  height: 200px;
  font-family: "Fjalla+One", sans-serif;
  margin: auto;
}

footer #footer1 {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 150px;
  background-color: #9f6a93;
  font-size: 14px;
  font-weight: bold;
}

footer #footer1 .f-ul-n1 .f-li-n1 {
  display: inline-block;
  vertical-align: top;
  width: 12%;
}

footer #footer1 .f-ul-n1 .f-li-n1 a {
  color: #61094d;
}

footer #footer1 .f-ul-n1 .f-li-n1 a:hover {
  color: #61094d;
}

footer #footer1 .f-ul-n1 .f-li-n1 .f-ul-n2 {
  margin: 0px;
  padding: 0px;
}

footer #footer1 .f-ul-n1 .f-li-n1 .f-ul-n2 .f-li-n2 {
  margin-left: 15px;
}

footer #copyright {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 50px;
  background-color: #61094d;
  color: #9f6a93;
  font-weight: bold;
  text-align: center;
}

footer #copyright h4 {
  margin: 0px;
  padding: 0px;
  padding-top: 15px;
}
