// VARIABLES
$color-primario: rgb(97, 9, 77);
$color-secundario: rgb(159, 106, 147);
$color-terciario: rgb(195, 163, 189);
$color-cuaternario: rgb(237, 227, 235);

$font-principal: 'Pacific', serif;
$font-secundario: 'Fjalla+One', sans-serif;
$font-terciario: 'Montserrat', sans-serif;

$color-facebook: rgb(59,89,152);
$color-twitter: rgb(64,153,255);
$color-instagram: rgb(155, 105, 84);

$ancho-maximo: 1280px;

//MIXINs

//Limpia los margins y paddigs de elemento
@mixin limpiar() {
	margin: 0px;
	padding: 0px;
}

//Agrega dimensiones a un elemento
@mixin dimensiones($ancho, $alto) {
	width: $ancho;
	height: $alto;
}

//Agrega doble sombra a un elemento, a la izq. y a la der.
@mixin sombra-contenedor() {
	// h-shadow v-shadow blur spread color
	-webkit-box-shadow: 10px 0px 15px -8px #191919, -10px 0px 15px -8px #191919;
	-moz-box-shadow: 10px 0px 15px -8px #191919, -10px 0px 15px -8px #191919;
	-ms-box-shadow: 10px 0px 15px -8px #191919, -10px 0px 15px -8px #191919;
	box-shadow: 10px 0px 15px -8px #191919, -10px 0px 15px -8px #191919;
}

//Agrega sombra a un elemento
@mixin sombra($h-shadow, $v-shadow, $blur, $spread, $color) {
	-webkit-box-shadow: $h-shadow $v-shadow $blur $color;
	-moz-box-shadow: $h-shadow $v-shadow $blur $color;
	-ms-box-shadow: $h-shadow $v-shadow $blur $color;
	box-shadow: $h-shadow $v-shadow $blur $color;
}

//hace que un elemento div sea circular
@mixin circulo($color, $diametro) {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	background-color: $color;
	height: $diametro;
	width: $diametro;
}

* {
	//Esto hace que si se se agragan bordes, no expandan 
	//el elemento sino que se agraguen hacia adentro
	box-sizing: border-box;
}

body {
	// background con gradiente css3
	// background: linear-gradient(90deg, rgb(235, 204, 245), white, rgb(235, 
	background-image: url("../assets/fondo-body.png");
	background-repeat: repeat;
	background-attachment: fixed;
}
header {
	@include limpiar();
	@include sombra-contenedor();
	max-width: $ancho-maximo;
	width: 100%;
	height: 125px;
	background-color: $color-primario;
	margin: auto;
	position: relative;
	/* /////////////////////////////////////////////////
	// BOTONERA REDES SOCIALES
	///////////////////////////////////////////////////*/
	#botones-social {
		display: inline-block;
		position: absolute;
		right: 10%;
		top: 30px;
		.circulo {
			@include limpiar();
			@include circulo(none, 50px);
			border: 2px solid $color-cuaternario;
			text-align: center;
			display: inline-block;
			margin: 5px;
			a {
				text-decoration: none;
				color: $color-cuaternario;
				span {
					font-size: 25px;
					//Las sig. 2 lineas son para aumentar el area cliqueable
					display: block;
					@include dimensiones(100%, 100%);
					padding-top: 10px;
				}
			}
		}
		.facebook {
			-webkit-transition: transform 0.5s, background-color 0.5s;
			-moz-transition: transform 0.5s, background-color 0.5s;
			-ms-transition: transform 0.5s, background-color 0.5s;
			transition: transform 0.5s, background-color 0.5s;
			&:hover {
				background-color: $color-facebook;
				-webkit-transform: scale(1.3,1.3) rotate(360deg);
				-moz-transform: scale(1.3,1.3) rotate(360deg);
				-ms-transform: scale(1.3,1.3) rotate(360deg);
				transform: scale(1.3,1.3) rotate(360deg);
			}
		}
		.twitter {
			-webkit-transition: transform 0.5s, background-color 0.5s;
			-moz-transition: transform 0.5s, background-color 0.5s;
			-ms-transition: transform 0.5s, background-color 0.5s;
			transition: transform 0.5s, background-color 0.5s;
			&:hover {
				background-color: $color-twitter;
				-webkit-transform: scale(1.3,1.3) rotate(360deg);
				-moz-transform: scale(1.3,1.3) rotate(360deg);
				-ms-transform: scale(1.3,1.3) rotate(360deg);
				transform: scale(1.3,1.3) rotate(360deg);
			}
		}
		.instagram {
			-webkit-transition: transform 0.5s, background-color 0.5s;
			-moz-transition: transform 0.5s, background-color 0.5s;
			-ms-transition: transform 0.5s, background-color 0.5s;
			transition: transform 0.5s, background-color 0.5s;
			&:hover {
				background-color: $color-instagram;
				-webkit-transform: scale(1.3,1.3) rotate(360deg);
				-moz-transform: scale(1.3,1.3) rotate(360deg);
				-ms-transform: scale(1.3,1.3) rotate(360deg);
				transform: scale(1.3,1.3) rotate(360deg);
			}
		}
	}
}
/* /////////////////////////////////////////////////
// MENU
///////////////////////////////////////////////////*/
nav {
	@include limpiar();
	@include sombra-contenedor();
	max-width: $ancho-maximo;
	width: 100%;
	height: 50px;
	background-color: $color-secundario;
	margin: auto;
	font-family: $font-secundario;
	color: $color-cuaternario;
	font-size: 18px;
	font-weight: bold;
	ul {
		@include limpiar();
		background-color: $color-secundario;
		text-align: center;
		display: inline;
		list-style: none;
		.boton {
			margin-left: -5px;
		}
		li {
			@include limpiar();
			padding-top: 12px;
			display: inline-block;
			position: relative;
			/* cursor: pointer; */
			width: 16%;
			height: 100%;
			vertical-align: top;
			//Esta transicion afecta el menu horizontal
			-webkit-transition: all 1s;
			-moz-transition: all 1s;
			-ms-transition: all 1s;
			transition: all 1s;
			a {
				text-decoration: none;
				color: $color-cuaternario;
				margin-right: 10px;
				vertical-align: top;
			}
			i {
				vertical-align: top;
				transition: transform 0.3s;
			}
			&:hover {
				background-color: $color-cuaternario;
  				a, i {
  					color: $color-secundario;
  					text-decoration: none;
  				} 
  				i {
  					transform: rotate(90deg);
  				}
  				ul {
					visibility: visible;
					display: block;
					top: 50px;
					li {
						a {
							text-decoration: none;
							color: $color-cuaternario;
						}
					}
				}
			}
			ul {
				@include limpiar();
				position: absolute;
				width: 100%;
				@include sombra(5px, 5px, 20px, 0px, black);
				display: none;
				visibility: hidden;
				z-index: 1;
				transition-property: all;
    			transition-duration: 2s;
				li {
					background-color: $color-secundario;
					text-align: left;
					padding-left: 5%;
					display: block;
					width: 100%;
					height: 50px;
					a {
						text-decoration: none;
	  					color: $color-secundario;
	  				}
					&:hover {
						background-color: $color-cuaternario;;
						a {
							text-decoration: none;
		  					color: $color-secundario;	
		  				}
					}
				}
			}
		}
	}
}
#contenedor {
	position: relative;
	top: 500px;
	@include limpiar();
	@include sombra-contenedor();
	max-width: $ancho-maximo;
	width: 100%;
	height: 1500px;
	background-color: $color-cuaternario;
	margin: auto;
	h1 {
		@include limpiar();
	}
}
//* /////////////////////////////////////////////////
// SLIDER CAROUSEL
///////////////////////////////////////////////////*/
.carousel-inner {
	position: relative;
	z-index: 0;
	.item {
		img {
			width: 100%;
			height: auto;
			margin: auto;
		}
	}
}
/* /////////////////////////////////////////////////
// FOOTER
///////////////////////////////////////////////////*/
footer {
	@include limpiar();
	@include sombra-contenedor();
	max-width: $ancho-maximo;
	width: 100%;
	height: 125px;
	background-color: $color-primario;
	margin: auto;
}