// VARIABLES
$color-primario: rgb(97, 9, 77);
$color-secundario: rgb(159, 106, 147);
$color-terciario: rgb(195, 163, 189);
$color-cuaternario: rgb(237, 227, 235);

$font-principal: 'Pacifico', cursive;
$font-secundario: 'Fjalla One', sans-serif;
$font-terciario: 'Montserrat', sans-serif;

$color-facebook: rgb(59,89,152);
$color-twitter: rgb(64,153,255);
$color-instagram: rgb(155, 105, 84);

$ancho-maximo: 1280px;

//MIXINs

//Limpia los margins y paddigs de elemento
@mixin limpiar() {
	margin: 0px;
	padding: 0px;
}

//Agrega dimensiones a un elemento
@mixin dimensiones($ancho, $alto) {
	width: $ancho;
	height: $alto;
}

//Agrega doble sombra a un elemento, a la izq. y a la der.
@mixin sombra-contenedor() {
	// h-shadow v-shadow blur spread color
	-webkit-box-shadow: 10px 0px 15px -8px #191919, -10px 0px 15px -8px #191919;
	-moz-box-shadow: 10px 0px 15px -8px #191919, -10px 0px 15px -8px #191919;
	-ms-box-shadow: 10px 0px 15px -8px #191919, -10px 0px 15px -8px #191919;
	box-shadow: 10px 0px 15px -8px #191919, -10px 0px 15px -8px #191919;
}

//Agrega sombra a un elemento
@mixin sombra($h-shadow, $v-shadow, $blur, $spread, $color) {
	-webkit-box-shadow: $h-shadow $v-shadow $blur $color;
	-moz-box-shadow: $h-shadow $v-shadow $blur $color;
	-ms-box-shadow: $h-shadow $v-shadow $blur $color;
	box-shadow: $h-shadow $v-shadow $blur $color;
}

//hace que un elemento div sea circular
@mixin circulo($color, $diametro) {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	background-color: $color;
	height: $diametro;
	width: $diametro;
}

//Para la animacion de los sub menus del nav
@mixin animation($animations) {
	-webkit-animation: #{$animations};
	-moz-animation: #{$animations};
	-ms-animation: #{$animations};
	animation: #{$animations};
}
@mixin keyframes($name) {
	@-webkit-keyframes #{$name} {
		@content; 
	}
	@-moz-keyframes #{$name} {
		@content; 
	}
	@-ms-keyframes #{$name} {
		@content; 
	}
	@keyframes #{$name} {
		@content; 
	}
}

* {
	//Esto hace que si se se agragan bordes, no expandan 
	//el elemento sino que se agraguen hacia adentro
	box-sizing: border-box;
}

body {
	// background con gradiente css3
	// background: linear-gradient(90deg, rgb(235, 204, 245), white, rgb(235, 
	background-image: url("../assets/fondo-body.png");
	background-repeat: repeat;
	background-attachment: fixed;
}
header {
	@include limpiar();
	@include sombra-contenedor();
	max-width: $ancho-maximo;
	width: 100%;
	height: 125px;
	background-color: $color-primario;
	margin: auto;
	position: relative;
	/* /////////////////////////////////////////////////
	// BOTONERA REDES SOCIALES
	///////////////////////////////////////////////////*/
	#botones-social {
		display: inline-block;
		position: absolute;
		right: 10%;
		top: 30px;
		.circulo {
			@include limpiar();
			@include circulo(none, 50px);
			border: 2px solid $color-cuaternario;
			text-align: center;
			display: inline-block;
			margin: 5px;
			a {
				text-decoration: none;
				color: $color-cuaternario;
				span {
					font-size: 25px;
					//Las sig. 2 lineas son para aumentar el area cliqueable
					display: block;
					@include dimensiones(100%, 100%);
					padding-top: 10px;
				}
			}
		}
		.facebook {
			-webkit-transition: transform 0.5s, background-color 0.5s;
			-moz-transition: transform 0.5s, background-color 0.5s;
			-ms-transition: transform 0.5s, background-color 0.5s;
			transition: transform 0.5s, background-color 0.5s;
			&:hover {
				background-color: $color-facebook;
				-webkit-transform: scale(1.3,1.3) rotate(360deg);
				-moz-transform: scale(1.3,1.3) rotate(360deg);
				-ms-transform: scale(1.3,1.3) rotate(360deg);
				transform: scale(1.3,1.3) rotate(360deg);
			}
		}
		.twitter {
			-webkit-transition: transform 0.5s, background-color 0.5s;
			-moz-transition: transform 0.5s, background-color 0.5s;
			-ms-transition: transform 0.5s, background-color 0.5s;
			transition: transform 0.5s, background-color 0.5s;
			&:hover {
				background-color: $color-twitter;
				-webkit-transform: scale(1.3,1.3) rotate(360deg);
				-moz-transform: scale(1.3,1.3) rotate(360deg);
				-ms-transform: scale(1.3,1.3) rotate(360deg);
				transform: scale(1.3,1.3) rotate(360deg);
			}
		}
		.instagram {
			-webkit-transition: transform 0.5s, background-color 0.5s;
			-moz-transition: transform 0.5s, background-color 0.5s;
			-ms-transition: transform 0.5s, background-color 0.5s;
			transition: transform 0.5s, background-color 0.5s;
			&:hover {
				background-color: $color-instagram;
				-webkit-transform: scale(1.3,1.3) rotate(360deg);
				-moz-transform: scale(1.3,1.3) rotate(360deg);
				-ms-transform: scale(1.3,1.3) rotate(360deg);
				transform: scale(1.3,1.3) rotate(360deg);
			}
		}
	}
	/* /////////////////////////////////////////////////
	// BUSQUEDA
	///////////////////////////////////////////////////*/
	#contenedor-buscar {
		position: absolute;
		display: inline-block;
		right: 1%;
		top: 45px;
		form {
			::-webkit-input-placeholder {
			   color: $color-cuaternario;
			}
			::-moz-input-placeholder {
			   color: $color-cuaternario;
			}
			:-ms-input-placeholder {
			   color: $color-cuaternario;
			}
			input[type="search"] {
				height: 30px;
				width: 65px;
				border: 2px solid $color-cuaternario;
				border-right: none;
				color: $color-cuaternario;
				-webkit-border-radius: 15px 0px 0px 15px;
				-moz-border-radius: 15px 0px 0px 15px;
				-ms-border-radius: 15px 0px 0px 15px;
				border-radius: 15px 0px 0px 15px;
				font-size: 14px;
				padding-left: 10px;
				font-family: $font-terciario;
				background-color: $color-primario;
				-webkit-transition: all .5s;
				-moz-transition: all .5s;
				-ms-transition: all .5s;
				transition: all .5s;
				&:focus {
					width: 130px;
					background-color: $color-secundario;
					outline: none;
					~ input[type="image"] {
						background-color: $color-secundario;
					}
				}
			}
			input[type="image"] {
				height: 30px;
				background-color: $color-primario;
				-webkit-border-radius: 0px 15px 15px 0px;
				-moz-border-radius: 0px 15px 15px 0px;
				-ms-border-radius: 0px 15px 15px 0px;
				border-radius: 0px 15px 15px 0px;
				margin-left: -4px;
				vertical-align: top;
				border: 2px solid $color-cuaternario;
				border-left: none;
				-webkit-transition: background-color .5s;
				-moz-transition: background-color .5s;
				-ms-transition: background-color .5s;
				transition: background-color .5s;
			}
		}
	}
}
		
/* /////////////////////////////////////////////////
// MENU
///////////////////////////////////////////////////*/
nav {
	@include limpiar();
	@include sombra-contenedor();
	max-width: $ancho-maximo;
	width: 100%;
	height: 50px;
	background-color: $color-secundario;
	margin: auto;
	font-family: $font-secundario;
	color: $color-cuaternario;
	font-size: 18px;
	font-weight: bold;
	.ul-n1 {
		@include limpiar();
		text-align: center;
		position: relative;
		/* Se colocan z-index en varios elementos para que 
		se vea la animacion de opacidad de los sub menus*/
		z-index: 1;
		li {
			@include limpiar();
			display: inline-block;
			vertical-align: top;
			@include dimensiones(16%, 100%);
			text-align: center;
			padding-top: 15px;
			margin-left: -5px;
			position: relative;
			a {
				color: $color-primario;
			}
			i {
				vertical-align: top;
				color: $color-primario;
			}
			.flecha-cont {
				width: 100%;
				height: 20px;
				.flecha-arriba {
					width: 0; 
					height: 0; 
					border-left: 10px solid transparent;
					border-right: 10px solid transparent;
					border-bottom: 10px solid $color-terciario;
					display: none;
					z-index: 3;
					position: absolute;
					top: 50px;
					left: 90px;
				}
			}
			.ul-n2 {
				@include limpiar();
				display: none;
				position: relative;
				z-index: 2;
				background-color: $color-terciario;
				color: $color-secundario;
				@include sombra(5px, 5px, 20px, 0px, black);
				-webkit-border-radius: 10px;
				-moz-border-radius: 10px;
				-ms-border-radius: 10px;
				border-radius: 10px;
				li {
					@include limpiar();
					display: block;
					@include dimensiones(100%, 50px);
					padding-top: 15px;
					padding-left: 30px;
					text-align: left;
				}
			}
			-webkit-transition: background-color 0.3s;
			-moz-transition: background-color 0.3s;
			-ms-transition: background-color 0.3s;
			transition: background-color 0.3s;
			&:hover {
				background-color: $color-cuaternario;
				a {
					text-decoration: none;
					color: $color-primario;
				}
				.ul-n2, .flecha-cont, .flecha-arriba {
					display: block;
					@include animation("submenu 0.3s");
					@include keyframes("submenu") {
						0% {opacity: 0}
						100% {opacity: 1} 
					}
					/* Para darle bordes redondeados en el hover */
					.primer-item {
						-webkit-border-radius: 10px 10px 0px 0px;
						-moz-border-radius: 10px 10px 0px 0px;
						-ms-border-radius: 10px 10px 0px 0px;
						border-radius: 10px 10px 0px 0px;
					}
					.ultimo-item {
						-webkit-border-radius: 0px 0px 10px 10px;
						-moz-border-radius: 0px 0px 10px 10px;	
						-ms-border-radius: 0px 0px 10px 10px;	
						border-radius: 0px 0px 10px 10px;	
					}
					li {
						a {
							text-decoration: none;
							color: $color-primario;
							@include animation("submenu 0.3s");
						}
					}
				}
			}
		}
	}
}
	
#contenedor {
	position: relative;
	z-index: 0;
	@include limpiar();
	@include sombra-contenedor();
	max-width: $ancho-maximo;
	width: 100%;
	height: 1500px;
	background-color: $color-cuaternario;
	margin: auto;
	h1 {
		@include limpiar();
	}
}
//* /////////////////////////////////////////////////
// SLIDER CAROUSEL
///////////////////////////////////////////////////*/
.carousel-inner {
	position: relative;
	.item {
		.slider-titular {
			position: absolute;
			display: inline-block;
			font-family: $font-principal;
			font-size: 72px;
			color: #fff;
			text-shadow: 2px 2px 8px #191919;
			top: 30px;
			left: 200px;
			&:hover {
				text-decoration: none;
			}
		}
		img {
			width: 100%;
			height: auto;
			margin: auto;
		}
	}
}
/* /////////////////////////////////////////////////
// SECTION
///////////////////////////////////////////////////*/
#prueba {

}


/* /////////////////////////////////////////////////
// FOOTER
///////////////////////////////////////////////////*/
footer {
	@include limpiar();
	max-width: $ancho-maximo;
	width: 100%;
	height: 200px;
	font-family: $font-secundario;
	margin: auto;
	#footer1 {
		@include limpiar();
		@include dimensiones(100%, 150px);
		background-color: $color-secundario;
		font-size: 14px;
		font-weight: bold;
		.f-ul-n1 {
			.f-li-n1 {
				display: inline-block;
				vertical-align: top;
				width: 12%;
				a {
					color: $color-primario;
					&:hover {
						color: $color-primario;
					}
				}
			.f-ul-n2 {
				@include limpiar();
				.f-li-n2 {
					margin-left: 15px;

					a {

					}
				}
			}
			}
		}
	}
	#copyright {
		@include limpiar();
		@include dimensiones(100%, 50px);
		background-color: $color-primario;
		color: $color-secundario;
		font-weight: bold;
		text-align: center;
		h4 {
			@include limpiar();
			padding-top: 15px;
			
		}
	}
}