* {
  box-sizing: border-box;
}

body {
  background-image: url("../assets/fondo-body.png");
  background-repeat: repeat;
  background-attachment: fixed;
}

header {
  margin: 0px;
  padding: 0px;
  -webkit-box-shadow: 10px 0px 15px -8px #191919, -10px 0px 15px -8px #191919;
  -moz-box-shadow: 10px 0px 15px -8px #191919, -10px 0px 15px -8px #191919;
  -ms-box-shadow: 10px 0px 15px -8px #191919, -10px 0px 15px -8px #191919;
  box-shadow: 10px 0px 15px -8px #191919, -10px 0px 15px -8px #191919;
  max-width: 1280px;
  width: 100%;
  height: 125px;
  background-color: #61094d;
  margin: auto;
  position: relative;
  /* /////////////////////////////////////////////////
	// BOTONERA REDES SOCIALES
	///////////////////////////////////////////////////*/
  /* /////////////////////////////////////////////////
	// BUSQUEDA
	///////////////////////////////////////////////////*/
}

header #botones-social {
  display: inline-block;
  position: absolute;
  right: 10%;
  top: 30px;
}

header #botones-social .circulo {
  margin: 0px;
  padding: 0px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background-color: none;
  height: 50px;
  width: 50px;
  border: 2px solid #f7f1f5;
  text-align: center;
  display: inline-block;
  margin: 5px;
}

header #botones-social .circulo a {
  text-decoration: none;
  color: #f7f1f5;
}

header #botones-social .circulo a span {
  font-size: 25px;
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 10px;
}

header #botones-social .facebook {
  -webkit-transition: transform 0.5s, background-color 0.5s;
  -moz-transition: transform 0.5s, background-color 0.5s;
  -ms-transition: transform 0.5s, background-color 0.5s;
  transition: transform 0.5s, background-color 0.5s;
}

header #botones-social .facebook:hover {
  background-color: #3b5998;
  -webkit-transform: scale(1.3, 1.3) rotate(360deg);
  -moz-transform: scale(1.3, 1.3) rotate(360deg);
  -ms-transform: scale(1.3, 1.3) rotate(360deg);
  transform: scale(1.3, 1.3) rotate(360deg);
}

header #botones-social .twitter {
  -webkit-transition: transform 0.5s, background-color 0.5s;
  -moz-transition: transform 0.5s, background-color 0.5s;
  -ms-transition: transform 0.5s, background-color 0.5s;
  transition: transform 0.5s, background-color 0.5s;
}

header #botones-social .twitter:hover {
  background-color: #4099ff;
  -webkit-transform: scale(1.3, 1.3) rotate(360deg);
  -moz-transform: scale(1.3, 1.3) rotate(360deg);
  -ms-transform: scale(1.3, 1.3) rotate(360deg);
  transform: scale(1.3, 1.3) rotate(360deg);
}

header #botones-social .instagram {
  -webkit-transition: transform 0.5s, background-color 0.5s;
  -moz-transition: transform 0.5s, background-color 0.5s;
  -ms-transition: transform 0.5s, background-color 0.5s;
  transition: transform 0.5s, background-color 0.5s;
}

header #botones-social .instagram:hover {
  background-color: #9b6954;
  -webkit-transform: scale(1.3, 1.3) rotate(360deg);
  -moz-transform: scale(1.3, 1.3) rotate(360deg);
  -ms-transform: scale(1.3, 1.3) rotate(360deg);
  transform: scale(1.3, 1.3) rotate(360deg);
}

header #contenedor-buscar {
  position: absolute;
  display: inline-block;
  right: 1%;
  top: 45px;
}

header #contenedor-buscar form ::-webkit-input-placeholder {
  color: #f7f1f5;
}

header #contenedor-buscar form ::-moz-input-placeholder {
  color: #f7f1f5;
}

header #contenedor-buscar form :-ms-input-placeholder {
  color: #f7f1f5;
}

header #contenedor-buscar form input[type="search"] {
  height: 30px;
  width: 65px;
  border: 2px solid #f7f1f5;
  border-right: none;
  color: #f7f1f5;
  -webkit-border-radius: 15px 0px 0px 15px;
  -moz-border-radius: 15px 0px 0px 15px;
  -ms-border-radius: 15px 0px 0px 15px;
  border-radius: 15px 0px 0px 15px;
  font-size: 14px;
  padding-left: 10px;
  font-family: "Montserrat", sans-serif;
  background-color: #61094d;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}

header #contenedor-buscar form input[type="search"]:focus {
  width: 130px;
  background-color: #9f6a93;
  outline: none;
}

header #contenedor-buscar form input[type="search"]:focus ~ input[type="image"] {
  background-color: #9f6a93;
}

header #contenedor-buscar form input[type="image"] {
  height: 30px;
  background-color: #61094d;
  -webkit-border-radius: 0px 15px 15px 0px;
  -moz-border-radius: 0px 15px 15px 0px;
  -ms-border-radius: 0px 15px 15px 0px;
  border-radius: 0px 15px 15px 0px;
  margin-left: -4px;
  vertical-align: top;
  border: 2px solid #f7f1f5;
  border-left: none;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

/* /////////////////////////////////////////////////
// MENU
///////////////////////////////////////////////////*/
nav {
  margin: 0px;
  padding: 0px;
  -webkit-box-shadow: 10px 0px 15px -8px #191919, -10px 0px 15px -8px #191919;
  -moz-box-shadow: 10px 0px 15px -8px #191919, -10px 0px 15px -8px #191919;
  -ms-box-shadow: 10px 0px 15px -8px #191919, -10px 0px 15px -8px #191919;
  box-shadow: 10px 0px 15px -8px #191919, -10px 0px 15px -8px #191919;
  max-width: 1280px;
  width: 100%;
  height: 35px;
  background-color: #9f6a93;
  margin: auto;
  font-family: "Roboto", sans-serif;
  color: #f7f1f5;
  font-size: 18px;
  font-weight: bold;
}

nav .ul-n1 {
  margin: 0px;
  padding: 0px;
  text-align: center;
  position: relative;
  /* Se colocan z-index en varios elementos para que 
		se vea la animacion de opacidad de los sub menus*/
  z-index: 1;
}

nav .ul-n1 li {
  margin: 0px;
  padding: 0px;
  display: inline-block;
  vertical-align: top;
  width: 16%;
  height: 100%;
  text-align: center;
  padding-top: 5px;
  margin-left: -5px;
  position: relative;
  /* .menu-small ul:after {
		        width:0px;
		        height:0px;
		        position:absolute;
		        top:0%;
		        left:22px;
		        content:'';
		        transform:translate(0%, -100%);
		        border-left:7px solid transparent;
		        border-right:7px solid transparent;
		        border-bottom:7px solid #303030;
		    } */
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

nav .ul-n1 li a {
  color: #61094d;
}

nav .ul-n1 li i {
  vertical-align: top;
  color: #61094d;
}

nav .ul-n1 li .flecha-cont {
  width: 100%;
  height: 15px;
}

nav .ul-n1 li .flecha-cont .flecha-arriba {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #c3a3bd;
  display: none;
  z-index: 3;
  position: absolute;
  top: 35px;
  left: 90px;
}

nav .ul-n1 li .ul-n2 {
  margin: 0px;
  padding: 0px;
  display: none;
  position: relative;
  z-index: 2;
  background-color: #c3a3bd;
  color: #9f6a93;
  -webkit-box-shadow: 5px 5px 20px black;
  -moz-box-shadow: 5px 5px 20px black;
  -ms-box-shadow: 5px 5px 20px black;
  box-shadow: 5px 5px 20px black;
}

nav .ul-n1 li .ul-n2 li {
  margin: 0px;
  padding: 0px;
  display: block;
  width: 100%;
  height: 35px;
  padding-top: 5px;
  padding-left: 30px;
  text-align: left;
}

nav .ul-n1 li:hover {
  background-color: #f7f1f5;
}

nav .ul-n1 li:hover a {
  text-decoration: none;
  color: #61094d;
}

nav .ul-n1 li:hover .ul-n2, nav .ul-n1 li:hover .flecha-cont, nav .ul-n1 li:hover .flecha-arriba {
  display: block;
  -webkit-animation: submenu 0.3s;
  -moz-animation: submenu 0.3s;
  -ms-animation: submenu 0.3s;
  animation: submenu 0.3s;
  /* Para darle bordes redondeados en el hover */
}

@-webkit-keyframes submenu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes submenu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes submenu {
  nav .ul-n1 li:hover .ul-n2 0%, nav .ul-n1 li:hover .flecha-cont 0%, nav .ul-n1 li:hover .flecha-arriba 0% {
    opacity: 0;
  }
  nav .ul-n1 li:hover .ul-n2 100%, nav .ul-n1 li:hover .flecha-cont 100%, nav .ul-n1 li:hover .flecha-arriba 100% {
    opacity: 1;
  }
}

@keyframes submenu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

nav .ul-n1 li:hover .ul-n2 .primer-item, nav .ul-n1 li:hover .flecha-cont .primer-item, nav .ul-n1 li:hover .flecha-arriba .primer-item {
  -webkit-border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  -ms-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
}

nav .ul-n1 li:hover .ul-n2 .ultimo-item, nav .ul-n1 li:hover .flecha-cont .ultimo-item, nav .ul-n1 li:hover .flecha-arriba .ultimo-item {
  -webkit-border-radius: 0px 0px 10px 10px;
  -moz-border-radius: 0px 0px 10px 10px;
  -ms-border-radius: 0px 0px 10px 10px;
  border-radius: 0px 0px 10px 10px;
}

nav .ul-n1 li:hover .ul-n2 li a, nav .ul-n1 li:hover .flecha-cont li a, nav .ul-n1 li:hover .flecha-arriba li a {
  text-decoration: none;
  color: #61094d;
  -webkit-animation: submenu 0.3s;
  -moz-animation: submenu 0.3s;
  -ms-animation: submenu 0.3s;
  animation: submenu 0.3s;
}

#contenedor {
  position: relative;
  margin: 0px;
  padding: 0px;
  -webkit-box-shadow: 10px 0px 15px -8px #191919, -10px 0px 15px -8px #191919;
  -moz-box-shadow: 10px 0px 15px -8px #191919, -10px 0px 15px -8px #191919;
  -ms-box-shadow: 10px 0px 15px -8px #191919, -10px 0px 15px -8px #191919;
  box-shadow: 10px 0px 15px -8px #191919, -10px 0px 15px -8px #191919;
  max-width: 1280px;
  width: 100%;
  height: 1500px;
  background-color: #f7f1f5;
  margin: auto;
}

#contenedor h1 {
  margin: 0px;
  padding: 0px;
}

.fade {
  height: 500px;
  opacity: 1;
}

.fade img {
  width: 100%;
}

.scroll {
  font-family: "Roboto", sans-serif;
  position: absolute;
  top: 400px;
  left: 50%;
}

.scroll a {
  color: #f7f1f5;
  display: block;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 0 0 9px black;
}

.scroll a:hover, .scroll a:link {
  text-decoration: none;
}

.scroll a i {
  font-size: 70px;
}

.scroll #icon-scroll {
  margin-top: -20px;
  -webkit-animation: move-icon 3s infinite;
  -moz-animation: move-icon 3s infinite;
  -ms-animation: move-icon 3s infinite;
  animation: move-icon 3s infinite;
}

@-webkit-keyframes move-icon {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(15px);
  }
  60% {
    transform: translateY(15px);
  }
}

@-moz-keyframes move-icon {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(15px);
  }
  60% {
    transform: translateY(15px);
  }
}

@-ms-keyframes move-icon {
  .scroll #icon-scroll 0%, .scroll #icon-scroll 20%, .scroll #icon-scroll 50%, .scroll #icon-scroll 80%, .scroll #icon-scroll 100% {
    transform: translateY(0);
  }
  .scroll #icon-scroll 40% {
    transform: translateY(15px);
  }
  .scroll #icon-scroll 60% {
    transform: translateY(15px);
  }
}

@keyframes move-icon {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(15px);
  }
  60% {
    transform: translateY(15px);
  }
}

/* /////////////////////////////////////////////////
// NIVEL 2
///////////////////////////////////////////////////*/
.nivel-2 {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 600px;
  background-color: #f7f1f5;
}

/* /////////////////////////////////////////////////
// NIVEL 3 - Parallax
///////////////////////////////////////////////////*/
section .container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

section .container h1 {
  color: #1e1e1e;
  font-size: 100px;
  line-height: 1;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px white;
}

.parallax-1 {
  /*Imagen de https://unsplash.com*/
  background-image: url("../assets/images/fondo-nivel2.jpg");
  width: 100%;
  padding: 240px 0;
  background-position: 0px 400px;
}

/* /////////////////////////////////////////////////
// FOOTER
///////////////////////////////////////////////////*/
footer {
  margin: 0px;
  padding: 0px;
  max-width: 1280px;
  width: 100%;
  height: 200px;
  font-family: "Roboto", sans-serif;
  margin: auto;
}

footer #footer1 {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 150px;
  background-color: #9f6a93;
  font-size: 14px;
  font-weight: bold;
}

footer #footer1 .f-ul-n1 .f-li-n1 {
  display: inline-block;
  vertical-align: top;
  width: 12%;
}

footer #footer1 .f-ul-n1 .f-li-n1 a {
  color: #61094d;
}

footer #footer1 .f-ul-n1 .f-li-n1 a:hover {
  color: #61094d;
}

footer #footer1 .f-ul-n1 .f-li-n1 .f-ul-n2 {
  margin: 0px;
  padding: 0px;
}

footer #footer1 .f-ul-n1 .f-li-n1 .f-ul-n2 .f-li-n2 {
  margin-left: 15px;
}

footer #copyright {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 50px;
  background-color: #61094d;
  color: #9f6a93;
  font-weight: bold;
  text-align: center;
}

footer #copyright h4 {
  margin: 0px;
  padding: 0px;
  padding-top: 15px;
}
